.App {
  padding: 30px;
}

.AppHeader h2{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  height: 40px;
}

/* logo */
.AppLogo {
  animation: AppLogo-spin infinite 20s linear;
  height: 50px;
  vertical-align: middle;
  display: inline;
}

@keyframes AppLogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.toolbar {
  padding: 20px 0 20px 0;
}

/* grid */
.grid {
  padding-left: 0px;
  padding-right: 0px;
}

/* Custom cell formatters */
.rowIndexCell, .longTextCell span, .codePre > .codeSpan {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
  cursor: default;
}

/* Index column */
.rowIndexCell {
  font-weight: 700 !important;
}

.react-grid-Cell:first-child {
  outline: none;
  background-color: rgb(249, 249, 249);
}

.longTextCell span {
  color: #000;
  font-weight: normal;
}

.longTextCell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
  color: red;
}


/* Code block */
.resultContainer {
  width: 100%;
  min-height: 40px;
  border: 2px solid #ddd;
}

pre {
  border: none !important;
}

.codePre {
  font-family: monospace;
  background-color: #fff;
  padding: 10px;
  line-height: 0;
  counter-reset: line;
}

.codeSpan {
  display: block;
  line-height: 1.5rem;
  padding-right: 5px;
}

.codeSpan:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 2px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888;
  width: 40px;
  text-align: right;
  -webkit-user-select: none;
}


/* GitHub shields */
.shield {
  margin-right: 5px;
}


/* Textareas */
.cellEdit, .importEdit {
  resize: vertical;
  width: 100%;
  min-height: 200px;
}
