body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: scroll !important;
  background-color: #f6f6f6;
  color: #555;
}

/* bottom margin for bootstrap buttons */
.btn {
  margin-bottom: 10px;
}

/* grid header fix */
.react-grid-Header, .react-grid-HeaderCell {
  background-color: rgb(242, 242, 242) !important;
  border-bottom: 1px solid #ddd !important;
}

/* grid bg color fix */
.react-grid-Canvas {
  background-color: rgb(249, 249, 249) !important;
}
